<div class="groupChats-wrapper bg-light">
    <div class="top-box d-flex flex-column justify-content-center">
        <div class="search-chat-room-box d-flex flex-row mb-3" data-cond="room_title">
            <select name="filterCond" class="me-2" id="filterCond">
                <option value="room_title">話題名稱</option>
                <option value="initiator_id">話題主ID</option>
            </select>
            <div class="search-room d-flex flex-row">
                <i class="fa fa-search"></i>
                <input type="text" name="keyword" id="keyword" placeholder="請輸入話題名稱">
            </div>
        </div>
        <form action="/groupChats" method="POST" class="create-chat-room-box">
            <input name="name" type="text" class="me-2" placeholder="今天想聊什麼?">
            <button class="btn btn-primary" type="submit">開新話題</button>
        </form>
    </div>
    <hr>
    <div class="bottom-box d-flex flex-column align-items-center mt-2 scrollbar">
        <div class="table-head">
            <span>話題名稱</span>
            <span>話題主ID</span>
            <span>上線人數<i class="fa fa-chevron-down ms-2"></i></span>
            <span>加入人數<i class="fa fa-chevron-down ms-2"></i></span>
            <span>開聊日期<span>(新=>舊)</span></span>
            <span>動作</span>
        </div>
        <div class="table-body" id="roomsPanel">
            {{#each groupChats}}
            <div class="room-items">
                <span>{{this.name}}</span>
                <span>{{this.user.account}}</span>
                <span>4(假資料)</span>
                <span>{{this.numOfRegisters}}</span>
                <span>{{#dateFormator}}{{../this.createdAt}}{{/dateFormator}}</span>
                <span class="action">
                    {{#if this.isRegistered}}
                    <button type="button" class="btn btn-success dropdown-toggle out-room" data-bs-toggle="dropdown" aria-expanded="false">
                        已加入
                    </button>
                    <a href="/users/loginUser/groupChats/groupMessages?groupId={{this.id}}" class="btn btn-info go-chat ms-2">Chat</a>
                    <ul class="dropdown-menu">
                        <li>
                            <form action="/groupChats/{{this.id}}/groupRegisters?_method=DELETE" method="POST" style="display: inline;">
                                <button class="ms-2" type="submit">退出話題</button>
                            </form>
                        </li>
                    </ul>
                    {{else}}
                    <form action="/groupChats/{{this.id}}/groupRegisters" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-primary join-room">+加入話題</button>
                    </form>
                    {{/if}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{!-- <script>
    const data = [
        {
            chatName: '最喜歡的漫威',
            initiator_id: 'sin_1201',
            online: 3,
            outline: 6,
            init_date: '2020/12/01',
            inRoom: false
        },
        {
            chatName: '星巴克',
            initiator_id: 'penny_0001',
            online: 20,
            outline: 12,
            init_date: '2021/12/22',
            inRoom: true
        },
        {
            chatName: '漫威鋼鐵人',
            initiator_id: 'abc_123',
            online: 22,
            outline: 8,
            init_date: '2021/08/22',
            inRoom: true
        }
    ]

    const groupChatsWrapper = document.querySelector('.groupChats-wrapper'),
        searchChatRoomBox = document.querySelector('.search-chat-room-box'),
        roomsPanel = document.querySelector('#roomsPanel'),
        filterCond = document.querySelector('#filterCond'),
        keyword = document.querySelector('#keyword')

    let rawHtml = ''
    data.forEach(data => {
        rawHtml += `
                 <div class="room-items">
                    <span>${data.chatName}</span>
                    <span>${data.initiator_id}</span>
                    <span>${data.online}</span>
                    <span>${data.outline}</span>
                    <span>${data.init_date}</span>
                    <span class="action">
                        <form action="#" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-primary join-room">+加入話題</button>
                        </form>
                    </span>
                 </div>
                `
    })

    roomsPanel.innerHTML = rawHtml

    groupChatsWrapper.addEventListener('keyup', e => {
        if (e.target.id === 'keyword' && e.target.value.length > 0) {
            roomsPanel.innerHTML = ''
            console.log(e.target.value)
            // 拿出keyword與data比對
            // 符合條件的 render 進 roomsPanel
            let keyword = e.target.value
            const filterData = data.filter(r => r.chatName.includes(keyword))
            console.log(filterData)
            filterData.forEach(data => {
                rawHtml += `
                 <div class="room-items">
                    <span>${data.chatName}</span>
                    <span>${data.initiator_id}</span>
                    <span>${data.online}</span>
                    <span>${data.outline}</span>
                    <span>${data.init_date}</span>
                    <span class="action">
                        <form action="#" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-primary join-room">+加入話題</button>
                        </form>
                    </span>
                 </div>
                `
            })
        }
        roomsPanel.innerHTML = rawHtml
    })
</script> --}}
