<div class="chat-wrapper">
    {{>sideNav path=path}}
    <div class="chat-room bg-light">
        <div class="search-box text-center mt-1 mb-1">
            <input type="text" name="searchRoom" id="searchRoom" placeholder="輸入話題名稱或使用者名稱">
            <i class="fa fa-search"></i>
        </div>
        <div class="room-box d-flex flex-column align-items-center ">
            {{#ifCond path 'getUserGroupMessages'}}
            {{#if ../groupChats}}
            {{#each ../groupChats}}
            <div class="room-item" {{#ifCond this.id ../../unfoldedGroupChat.id
                }}style="background: rgb(16, 16, 253); color: #fff;" {{/ifCond}}>
                <img src="/image/users.webp" alt="room-avatar" class="chat-avatar">
                <div class="chat-nameAndNew">
                <div class="chat-nameAndNew" data-io-room="groupChat{{this.id}}">
                    <span class="name fs-14-bold">{{this.name}}</span>
                    {{#if this.latestMessage }}
                    <span class="new fs-12">{{#if this.latestMessage.isLoginUser
                        }}你{{else}}{{this.latestMessage.User.account}}{{/if}}: {{this.latestMessage.content}}</span>
                    {{else}}
                    <span class="new fs-12">目前沒有任何訊息!</span>
                    {{/if}}
                </div>
                <div class="chat-timeAndRead">
                    {{#if this.latestMessage }}
                    <span class="time fs-12">{{this.latestMessage.formattedCreatedAt}}</span>
                    <div class="unread"></div>
                    {{/if}}
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="mt-4">
                你尚未參與任何群組話題!
            </div>
            {{/if}}
            {{/ifCond}}

            {{#ifCond path 'getUserMessages'}}
            {{!-- 假資料1 --}}
            <div class="room-item">
                <img src="/image/users.webp" alt="room-avatar" class="chat-avatar">
                <div class="chat-nameAndNew">
                    <span class="name fs-14-bold">最喜歡的漫威系列</span>
                    <span class="new fs-12">Sin_1201: 期待奇異...</span>
                </div>
                <div class="chat-timeAndRead">
                    <span class="time fs-12">10:33</span>
                    <div class=""></div>
                </div>
            </div>
            {{!-- 假資料2 --}}
            <div class="room-item">
                <div class="online"></div>
                <img src="/image/users.webp" alt="room-avatar" class="chat-avatar">
                <div class="chat-nameAndNew">
                    <span class="name fs-14-bold">penny_111</span>
                    <span class="new fs-12">你: 那家滿好吃的</span>
                </div>
                <div class="chat-timeAndRead">
                    <span class="time fs-12">昨天</span>
                    <div class="unread"></div>
                </div>
            </div>
            {{!-- 假資料3 --}}
            <div class="room-item">
                <div class="online"></div>
                <img src="/image/users.webp" alt="room-avatar" class="chat-avatar">
                <div class="chat-nameAndNew">
                    <span class="name fs-14-bold">huihui11020</span>
                    <span class="new fs-12">晚安</span>
                </div>
                <div class="chat-timeAndRead">
                    <span class="time fs-12">2020/12/20</span>
                    <div class="unread"></div>
                </div>
            </div>
            {{/ifCond}}
        </div>
    </div>
    <div class="chatting">
        <div class="top-section d-flex flex-row justify-content-between">
            <div class="left-part">
                <div class="left-part-top bg-light">
                    <div class="room-info d-flex flex-row align-items-center">
                        <img src="/image/users.webp" alt="" class="avatar">
                        <div class="nameAndTime-box d-flex flex-column align-items-start">
                            <span class="room-name fs-14-bold">{{unfoldedGroupChat.name}}</span>
                            <span class="room-createBy fs-12">Group chat initialized by
                                {{unfoldedGroupChat.User.account}}</span>
                        </div>
                    </div>
                    <form action="" method="POST" class="out-room">
                        <button class="btn btn-danger" type="submit">退出話題</button>
                    </form>
                </div>
                <div class="left-part-bottom bg-light" id="msg-displayer">
                    {{#if unfoldedGroupChat.Group_messages}}
                    {{#each unfoldedGroupChat.Group_messages}}
                    {{#if this.isLoginUser}}
                    <div class="d-flex flex-row-reverse">
                        <div class="d-flex flex-column align-items-start">
                            <div class="m-2 p-2" style="background: rgb(16, 16, 253); color: #fff; border-radius: 6px;">
                                <div>
                                    <div class="new fs-12">{{this.content}}</div>
                                    <div class="time fs-12 text-end">{{this.formattedCreatedAt}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="message-by-others">
                        <img src="/image/users.webp" class="avatar" style="width: 60px; height: 60px;">
                        <div class="d-flex flex-column align-items-start">
                            <div class="fs-14-bold">{{this.User.account}}</div>
                            <div class="my-1 p-2" style="background: rgb(235, 235, 235);border-radius: 6px;">
                                <div>
                                    <div class="new fs-12">{{this.content}}</div>
                                    <div class="time fs-12 text-end">{{this.formattedCreatedAt}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <span class="new fs-12">目前沒有任何訊息!</span>
                    {{/if}}
                </div>
            </div>
            <div class="right-part bg-light">
                <div class="right-part-top">
                    <div class="online-box d-flex flex-row">
                        <span class="fs-14-bold">上線</span>
                        <span class="online-icon"></span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="online-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">sin_1201</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="online-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">sin_1201</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="online-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">sin_1201</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="online-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">sin_1201</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="online-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">sin_1201</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="online-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">sin_1201</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="online-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">sin_1201</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="online-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">sin_1201</span>
                    </div>
                </div>
                <hr>
                <div class="right-part-bottom">
                    <div class="outline-box d-flex flex-row">
                        <span class="fs-14-bold">離線</span>
                        <span class="outline-icon"></span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="outline-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">penny_111</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="outline-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">penny_111</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="outline-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">penny_111</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="outline-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">penny_111</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="outline-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">penny_111</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="outline-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">penny_111</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="outline-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">penny_111</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="outline-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">penny_111</span>
                    </div>
                    {{!-- 假資料 --}}
                    <div class="outline-user">
                        <img src="/image/users.webp" alt="user-avatar" class="user-avatar">
                        <span class="user-account fs-12 fw-bold">penny_111</span>
                    </div>
                </div>
            </div>
        </div>
        <form class="bottom-section send-message-wrapper bg-light" enctype='multipart/form-data'
            data-post-url="/users/loginUser/groupChats/{{unfoldedGroupChat.id}}/groupMessages"
            data-io-room="groupChat{{unfoldedGroupChat.id}}"
            data-login-user-id="{{user.id}}">
            <div class="if-file-box d-flex flex-row justify-content-start align-items-center">
                <div class="file-item">
                    <i class="fa fa-times"></i>
                    <span>有關漫威的神秘檔案.docs</span>
                </div>
                <div class="file-item">
                    <i class="fa fa-times"></i>
                    <span>有關漫威的神秘檔案.docs</span>
                </div>
                <div class="file-item">
                    <i class="fa fa-times"></i>
                    <span>有關漫威的神秘檔案.docs</span>
                </div>

            </div>
            <div class="send-message-box d-flex flex-row justify-content-between align-items-center">
                <div class="send-file-icon-box d-flex flex-row justify-content-around align-items-center">
                    <div class="icon-box-paperClip">
                        <label for="file">
                            <i class="fa fa-paperclip"></i>
                        </label>
                        <input type="file" name="file" id="file" style="display:none;">
                    </div>
                    <div class="icon-box-camera">
                        <i class="fa fa-camera"></i>
                    </div>
                </div>
                <div class="send-message">
                    <textarea name="message" id="message" class="message"></textarea>
                    <button type="submit" class="btn btn-outline-primary" id="submitBtn">送出</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    const socket = io()
    const sendMsgWrapper = document.querySelector('.send-message-wrapper')
    const messageInput = document.querySelector('#message')
    const fileInput = document.querySelector('#file')


    // 監聽來自伺服器的chatMessage事件
    socket.on("chatMessage", (ioRoom, Sender, message, createdAt) => {
        const loginUserId = Number(sendMsgWrapper.dataset.loginUserId)
        const currenChatNameAndNew = document.querySelector(`.chat-nameAndNew[data-io-room=${ioRoom}]`)
        
        // 在對話框加入訊息
        addMsgToMsgDisplayer(ioRoom, Sender, message, createdAt, loginUserId)
        addMsgToChatNameAndNew(currenChatNameAndNew, Sender, loginUserId, message)
    })


    sendMsgWrapper.addEventListener('submit', e => {
        e.preventDefault()
        const submitBtn = document.querySelector('#submitBtn')
        const postURL = sendMsgWrapper.dataset.postUrl
        const formData = new FormData(sendMsgWrapper)

        // disable送出按紐
        submitBtn.disabled = true
        submitBtn.innerText = '發送中'

        axios
            .post(postURL, formData, { headers: { 'Content-Type': 'multipart/form-data' } })
            .then((response) => {
                if (response.data.status === 'success') {
                    const ioRoom = sendMsgWrapper.dataset.ioRoom
                    const { User, content, formattedCreatedAt } = response.data.message
                    const message = messageInput.value

                    // 發送chatMessage事件給伺服器
                    socket.emit("chatMessage", ioRoom, User, content, formattedCreatedAt)

                    // 清空input的值、恢復送出按紐功能
                    messageInput.value = ''
                    submitBtn.disabled = false
                    submitBtn.innerText = '送出'
                }
            })
            .catch((err) => {
                console.log(err)
            })
    })

    function addMsgToMsgDisplayer(ioRoom, Sender, message, createdAt, loginUserId) {
        const msgDisplayer = document.querySelector('#msg-displayer')
        const newMessage = document.createElement('div')

        if (Sender.id === loginUserId) {
            // 製作自己發送的訊息樣式
            newMessage.classList.add('d-flex', 'flex-row-reverse')
            newMessage.innerHTML = `
                        <div class="d-flex flex-column align-items-start">
                            <div class="m-2 p-2"
                                style="background: rgb(16, 16, 253); color: #fff; border-radius: 6px;">
                                <div>
                                    <div class="new fs-12">${message}</div>
                                    <div class="time fs-12 text-end">${createdAt}</div>
                                </div>
                            </div>
                        </div>
                    `
        } else {
            // 製作他人發送的訊息樣式
            newMessage.classList.add('message-by-others')
            newMessage.innerHTML = `
            <img src="/image/users.webp" class="avatar" style="width: 60px; height: 60px;">
            <div class="d-flex flex-column align-items-start">
            <div class="fs-14-bold">${Sender.account}</div>
                <div class="m-1 p-2" style="background: rgb(235, 235, 235);border-radius: 6px;">
                    <div>
                        <div class="new fs-12">${message}</div>
                        <div class="time fs-12 text-end">${createdAt}</div>
                    </div>
                 </div>
            </div>
        `
        }
        // 在對話框加入訊息
        msgDisplayer.appendChild(newMessage)
    }
</script>